<h2 class="">Add New Attendee: </h2>
<div class="row">
    <div class="offset-md-2 col-md-8">
        <form>
            <div class="form-group row">
                <label for="eventType" class="col-md-4 col-form-label">
                    Event For
                </label>
                <div class="col-md-6">
                    <select class="form-control form-control-sm" id="eventType">
                        <option>Ningol Chakouba 2019</option>
                        <option>Ningol Chakouba 2018</option>
                        <option>Ningol Chakouba 2016</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-md-4 col-form-label">
                    Name
                </label>
                <div class="col-md-6">
                    <input type="text" name="attendeeName" class="form-control" placeholder="Enter Attendee Name">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-md-4 col-form-label">
                    Gender
                </label>
                <div class="col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                            value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Male
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                            value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Female
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-md-4 col-form-label">
                    Current Address
                </label>
                <div class="col-md-6">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-md-4 col-form-label">
                    Permanent Address
                </label>
                <div class="col-md-6">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-md-4 col-form-label">
                    Mobile
                </label>
                <div class="col-md-6">
                    <input type="text" name="mobile" class="form-control" placeholder="Mobile number" />
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-md-4 col-form-label">
                    Members
                </label>
                <div class="col-md-6">

                </div>
            </div>
        </form>
    </div>
</div>